// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

//@import "~@coreui/coreui/scss/variables";

@import "vue-select/src/scss/vue-select.scss";

.c-main {
    background-color: white;
    color: #35495e;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

label{
    font-style: italic;
}

.form-control {
    font-size: 0.8rem;
    color: black;
    height: calc(2.2em + 0.75rem + 2px);
}


.error {
    margin: 2px;
    font-size: 0.6rem;
    color: red;
}