// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

//@import "~@coreui/coreui/scss/variables";

.c-main {
    background-color: white;
    color: black;
}

.card-header {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

label{
    font-style: italic;
}

.form-control {
    font-size: 0.8rem;
    color: black;
}